.homepageMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #3d3d3f;
}

.homepageMainDiv__Name{
    font-size: 120%;
    margin: 20px;
}

.homepageMainDiv__Row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.homepageMainDiv__Dev{
    font-size: 220%;
    margin: 30px;
}

.homepageMainDiv__API__Header{
    font-size: 120%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homepageMainDiv__API:hover ~ .homepageMainDiv__API__Desc{
    opacity: 1;
    transition: opacity .50s ease-in-out;
}

.homepageMainDiv__API__Desc{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:30px;
    opacity: 0.1;
}

.homepageMainDiv__API__Desc:hover{
    opacity: 1;
    transition: opacity .50s ease-in-out;
}

.homepageMainDiv__currProject{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.homepageMainDiv__currProject__Container{
    height: 100px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:#D32323;
    border: 1px solid;
    border-radius: 5px;
    margin : 20px;
    box-shadow: 3px -3px 3px  rgba(0,0,0,0.6);
	-moz-box-shadow: 3px -3px 3px  rgba(0,0,0,0.6);
	-webkit-box-shadow: 3px -3px 3px  rgba(0,0,0,0.6);
	-o-box-shadow: 3px -3px 3px  rgba(0,0,0,0.6);
}

.homepageMainDiv__currProject__Container:hover{
    opacity: 0.5;
}